*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 1366px;
    height: 150px;
    /* border: 1px solid red; */
}
.logo img{
    width: 250px;
    height: 150px;
    float: left;
    margin-left: 50px;
}
.logo h1{
    padding-top: 32px;
    padding-left:  420px;
}
.hieuung{
    width: 1366px;
    height: 100px;
    font-size: 18px;
    position: fixed;
    z-index: 1;
    background-color: white;
    transition: 0.5s;
}
.logo img1{
    width: 200px;
    height: 100px;
}
.hieuung1{
    top: 0px;
    position: fixed;
    z-index: 1;
    background-color: white;
    transition: 0.5s;
}
/* Tìm kiếm */
.menu{
    /* position: fixed; */
    width: 1366px;
    height: 63px;
    background-color: green;
    top: 150px;
    transition: 0.5s;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    float: left;
    padding: 20px 30px;
    /* background-color: green; */
}
/* .menu ul li:hover{
    background-color: greenyellow;
    color: lemonchiffon;
} */
.menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.noidung a{
    display: block;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    color: red;
}
li.cha{
    position: relative;
}
li button{
    top: -20px;
    font-size: 15px;
    margin-top: -11px;
    width: 100px;
    height: 45px;
    border: none;
    outline: none;
    background-color: gray;
    color: white;
    font-weight: bold;
}
.khung{

    top: 10px;
    left: 132px;
    width: 400px;
    /* opacity: 0; */
}
.khung .inputa{
    width: 250px;
    padding-left: 20px;
    height: 33px;
    background-color: rgb(121, 115, 115);
    color: white;
    font-size: 18px;
    position: absolute;
    top: 12px;
    left: 124px;
    transition: 0.5s;
    z-index: 1
    
}
.btn{
    position: absolute;
    height: 37px;
    width: 81px;
    z-index: 2;
    top: 23px;
    left: 50px;
}


/* Nội dung */
.khunglon{
    width: 1366px;
    top: 300px;
}
.khunglon .trai{
    width: 910px;
    /* border: 1px solid red; */
    float: left;
}
.khunglon .phai{
    width: 400px;
    /* border: 1px solid black; */
    height: 400px;
    float: right;
}
.khunglon .trai .noidung p{
    font-size: 23px;
    text-align: justify;
    padding-left: 30px;
}
.khunglon .trai .noidung a{
    font-weight: bold;
    text-decoration: none;
    font-size: 26px;
    color: black;
    margin: 0;
    padding: 0;
    padding-left: 30px;
}


.khunglon .phai img{
    width: 400px;
    height: 250px;
    margin-bottom: 40px;
}

.diemcong{
    position: fixed;
    top: 250px;
    left: -340px;
    width: 300px;
    height: 250px;
    background-color: #61b161;
    padding: 30px 30px;
    transition: 0.5s;
}
.diemcong > a{
    font-size: 26px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.diemcong > p{
    font-size: 23px;
    color: white;
    margin-top: 20px;
}
.header{
    position: fixed;
    background-color: white;
    top: 0px;
    width: 1366px;
    height: 200px;
}
.hieuunginput{
    transition: 0.5s;
    width: 250px;
    left: 124px;
}